<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>org.wso2.carbon.clustering.hazelcast.jsr107.mt</td><td>MultitenantCachingTestCase.testCreateExistingCache()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testCreateCacheWithSameNameByTwoTenants()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testCreateCacheWithSameNameByTwoTenantsWithDefaultCacheManager()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testCacheBuilderForTenants()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testLegalAccess()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testCacheLoaderForTenants()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/>MultitenantCachingTestCase.testIllegalAccess()[pri:0, instance:barley.caching.impl.MultitenantCachingTestCase@54c562f7]<br/></td></tr>
</table>
